* {
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: barcode;
  src: url(New\ X\ Digital\ Light\ tfb.ttf);
}
@font-face {
  font-family: helvetica2;
  src: url(HelveticaLTStd-Light.otf);
}
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  color: rgb(105, 105, 105);
  font-family: sans-serif;
  position: relative;
  background-image: url("bckg.jpg");
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: helvetica2;
}

p {
  font-family: helvetica2;
  font-size: 19px;
  word-spacing: 5px;
  line-height: 1.5;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 50px;
  font-family: barcode;
  background-color: gray;
  color: azure;
}

.link {
  display: flex;
  gap: 50px;
  font-size: 16px;
  margin-right: 15px;
}

.profile-img {
  max-height: 380px;
  width: auto;
  order: 1;
}

.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 50px;
  margin-bottom: 80px;
}

.intro {
  width: 800px;
  display: flex;
  padding: 60px 50px;
  gap: 40px;
  border-radius: 10px;
  background: rgb(238, 238, 238);
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me {
  width: 800px;
  padding: 60px 50px;
  border-radius: 10px;
  background: rgb(238, 238, 238);
}

.education {
  width: 800px;
  padding: 60px 50px;
  border-radius: 10px;
  background: rgb(238, 238, 238);
}

.portfolio {
  width: 800px;
  padding: 60px 50px;
  border-radius: 10px;
  background: rgb(238, 238, 238);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: azure;
  background-color: rgb(63, 63, 63);
  padding: 20px 50px;
  font-size: 20px;
}

footer p {
  font-family: barcode;
  font-size: 45px;
}
.link2:link,
.link2:visited {
  color: azure;
  text-decoration: none;
}

.link2:hover,
.link2:active {
  color: azure;
  text-decoration: underline;
}

.fa {
  margin: 15px 10px;
}

.fa-linkedin {
  color: azure;
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-github {
  color: azure;
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-github:hover {
  background-color: blueviolet;
}
